@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&family=VT323&display=swap');

/* **  Page Title  ** */
.title > h1 {
    font-family: 'Press Start 2P', cursive;
    margin: 10px;
    background: -webkit-linear-gradient(#13ff3c, #e6e83a);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-shadow: 3px 2px 1px black;
}


/* ** Search Bar  ** */

.searchBlock {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
}

.searchBlock > form {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
/*  * Input * */

input.searchForm {
    border: none;
    border-radius: 15px;
    margin-right: 20px;
    padding-left: 10px;
    font-family: 'VT323', monospace;
    width: 425px;
    height: 20px;
    background-color: #f5f5f5bf;
    cursor: text;
    box-shadow: 2px 2px 3px #00000052;
}

/* * Button * */

button {
    background-color: transparent;
}

img.naviSearch {
    height: 40px;
    cursor: pointer;
}